
.track {
  /* flex: 0 0 auto; */
  position: relative;
  width: 42vmin;
  align-self: center;
  opacity: 1;
  padding: 4vmin;
	animation-name: fadeInTrack;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 1s;
  /* transition: width 1s ease-out; */
  transition: 400ms ease-out;
  
}

.track-image {
  width:100%;
  opacity: 1;
	animation-name: fadeInTrackImage;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 1s;
  transition: width 500ms ease-out;
}

.track:hover{
  transform: scale(1.1);
  /* width: 34vmin; */
  /* transition: width 500ms ease-out; */
  transition: 300ms ease-out;
  cursor: pointer;
}

.track-name{
  color: black;
  font-size:75%;
  transition: font-size 500ms ease-out;
  margin-top: 2vmin;
}


@keyframes fadeInTrack {
	0% {
    opacity: 0;
  }

	100% {
    opacity: 1;
	}
}

@keyframes fadeInTrackImage {
	0% {
    opacity: 0;
    width: 75%;
  }

	100% {
    opacity: 1;
    width: 100%;
    
	}
}

